[Desktop Entry]
Encoding=UTF-8
Name=Stratanium Core
Comment=Stratanium P2P Cryptocurrency
Comment[de]=Verbinde mit dem Stratanium peer-to-peer Netzwerk
Comment[fr]=Stratanium, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Stratanium, eşten eşe kriptografik sanal para birimi
Exec=stratanium-qt %u
Terminal=false
Type=Application
Icon=stratanium128
MimeType=x-scheme-handler/stratanium;
Categories=Office;Finance;
